# Ignora file testuale
Music Playlist Manager.txt
ClassDiagram4.xml

# --- Database locale H2 ---
data/
*.mv.db
*.trace.db

# --- Cartelle di Build (Maven / Gradle) ---
target/
build/
.gradle/
out/

# --- IDE e editor ---
*.iml
.idea/
*.ipr
*.iws
*.class

# --- Maven wrapper ---
.mvn/

# --- Configurazioni di VS Code ---
.vscode/

# --- File temporanei del Sistema Operativo ---
.DS_Store
Thumbs.db
